<mat-toolbar color="primary">
  <mat-toolbar-row class="first-tool-bar">
    <button mat-button class="logo-button">
      <mat-icon aria-hidden="false" aria-label="Logo">
        emoji_objects
      </mat-icon>
      <span>Interview Questions</span>
    </button>
    <button mat-button (click)="onTopicClick('angular', 'Angular')">
      Angular
    </button>
    <button mat-button (click)="onTopicClick('angular', 'Angular')">
      Node.js
    </button>
    <button mat-button (click)="onTopicClick('scaling', 'Scaling')">
      Scaling
    </button>
    <button
      mat-button
      (click)="onTopicClick('springmicroservices', 'Spring Micro Services')"
    >
      Spring Micro Services
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <button
      mat-button
      class="side-nav-button"
      (click)="onSubTopicSelect('jwiXwJ1THueNlkc4b9np')"
    >
      Angular Interview Questions Part 1
    </button>
    <button
      mat-button
      class="side-nav-button"
      (click)="onSubTopicSelect('yQTp3VMtgkjsoGhHXzka')"
    >
      Angular Interview Questions Part 2
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <main>
      <mat-toolbar color="primary" *ngIf="this.selectedTopicTitle">
        <mat-toolbar-row class="second-tool-bar">
          <button mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="Logo">
              menu
            </mat-icon>
            <span class="selected-topic">
              {{ this.selectedTopicTitle }} Interview Questions
            </span>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</mat-drawer-container>
