<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="email" formControlName="email" required />
    <div
      *ngIf="
        !profileForm.controls['email'].valid &&
        !profileForm.controls['email'].untouched
      "
    >
      Enter valid email
    </div>
  </label>

  <label>
    Password
    <input type="password" formControlName="password" required />
  </label>
  <label>
    Confirm Password
    <input type="password" formControlName="confirmPassword" required />
  </label>
  <div
    *ngIf="
      !this.profileForm.controls['password'].untouched &&
      !this.profileForm.controls['confirmPassword'].untouched &&
      this.profileForm.controls['password'].value !==
        this.profileForm.controls['confirmPassword'].value
    "
  >
    Password do not match
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
